.mainDiv {
		width:100%;
}

.single	{
		background:#f8f8f8; 
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		border: none;
		width: 185px;
		height: 100px;
		color: #036;
		cursor:pointer;
		text-indent:10px;
		padding-top:4px;
		text-align:left;
}


.singleOver {
		background:#f8f8f8;
		text-indent:10px;
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		height: 100px;
		width: 185px;
		color: #036;
		cursor:pointer;
		padding-top:4px;
		text-align:left; 
}

.topItem { 
		background:#f8f8f8;
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		border: none;
		width: 185px;
		height: 25px;
		color:#036;
		cursor:pointer;
		text-indent:10px;
		padding-top:4px;
		text-align:left;
}

.topItemOver {
		background:#f8f8f8;
		text-indent:10px;
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		height: 25px;
		width: 185px;
		color: #036;
		cursor:pointer;
		padding-top:4px;
		text-align:left;  
}

.topItemClose {
		background:#f8f8f8;
		text-indent:10px;
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		height: 25px;
		width: 185px;
		color: #036;
		cursor:pointer;
		padding-top:4px;
		text-align:left;
}


.topItemCloseOver {
		background:#f8f8f8;
		text-indent:10px;
		font: bold 10px tahoma,verdana,sans-serif;
		letter-spacing: 0;
		height: 25px;
		width: 185px;
		color: #036;
		cursor:pointer;
		padding-top:4px;
		text-align:left;
}


.dropMenu {
		background:#FFF;
		font: bold 11px tahoma,verdana,sans-serif;
		color: #036;
		border: 1px solid #f8f8f8;
		border-width: 0 1px 1px 1px;
		filter:alpha(opacity=100);
		padding-top:0px;
		padding-bottom:0px;
}

.subMenu {
		display:block;
		border-bottom:1px solid #660b00;
}

.subItem {
		margin-left:15px;
		margin-top:2px;
		height:350px;
		font: 11px tahoma,verdana,sans-serif;
		text-decoration:none;
		color:#666;
		text-align:left;
		width:100%; 
}

.subItem a {
		margin-left:0px;
		font: 11px tahoma,verdana,sans-serif;
		text-decoration:none;
		color:#666;
		text-align:left;
		width:100%; 
}

.subItemOver {
		margin-left:15px;
		margin-top:2px;
		font: 11px tahoma,verdana,sans-serif;
		height:100px;
		color:#666;
		text-align:left;
		width:100%; 
} 


.subItemOver a {
		margin-left:0px;
		font: 11px tahoma,verdana,sans-serif;
		cursor:pointer;	
		color:#666;
		text-decoration:underline;
		cursor:pointer;
		text-align:left;
		width:100%; 
}

.drop {
		border-left:1px solid black;
		border-right:1px solid black;
}
<!--left end-->
